---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bases Legales">
  <div class="px-4 py-6">
    <h1 class="text-2xl font-bold mb-4">Bases Legales</h1>
    <p class="mb-4">
      Bienvenido a nuestro sitio web. A continuación, se detallan las bases
      legales que regulan el uso de esta página web, cuyo objetivo principal es
      proporcionar información y captar leads.
    </p>
    <h2 class="text-xl font-semibold mt-6 mb-2">Titular del Sitio Web</h2>
    <p class="mb-4">
      Responsable: <strong>LIDIA BLANCH NIETO</strong><br />
      Correo electrónico: <u>info@negrosobreblanco.com</u><br />
      Sitio Web: <u>www.negrosobreblanco.com</u>
    </p>
    <h2 class="text-xl font-semibold mt-6 mb-2">Objeto</h2>
    <p class="mb-4">
      Estas bases legales regulan el acceso y uso del sitio web, así como la
      relación entre el sitio web y los usuarios que lo utilizan. Al acceder y
      utilizar el sitio web, el usuario acepta cumplir con las condiciones
      establecidas en estas bases legales.
    </p>
    <h2 class="text-xl font-semibold mt-6 mb-2">Uso del Sitio Web</h2>
    <p class="mb-4">
      El usuario se compromete a utilizar el sitio web de conformidad con la
      ley, la moral, las buenas costumbres y el orden público. Asimismo, se
      obliga a no utilizar el sitio web con fines ilícitos, engañosos,
      malintencionados o que perjudiquen a terceros.
    </p>
    <h2 class="text-xl font-semibold mt-6 mb-2">
      Propiedad Intelectual e Industrial
    </h2>
    <p class="mb-4">
      Todos los contenidos del sitio web, incluyendo, entre otros, textos,
      gráficos, imágenes, su diseño y los derechos de propiedad intelectual que
      pudieran corresponder a dichos contenidos, así como todas las marcas,
      nombres comerciales o cualquier otro signo distintivo son propiedad del
      Titular o de sus legítimos propietarios. Queda prohibida cualquier forma
      de explotación, reproducción, distribución, modificación, comunicación
      pública y transformación sin la previa y expresa autorización del Titular.
    </p>
    <h2 class="text-xl font-semibold mt-6 mb-2">Protección de Datos</h2>
    <p class="mb-4">
      En cumplimiento de lo establecido en el Reglamento (UE) 2016/679 del
      Parlamento Europeo y del Consejo de 27 de abril de 2016 (RGPD) y en la Ley
      Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y
      Garantía de los Derechos Digitales (LOPDGDD), se informa al usuario de que
      los datos personales que proporcione a través del sitio web serán tratados
      de manera confidencial y quedarán incorporados a un fichero
      responsabilidad del Titular.
    </p>
    <p class="mb-4">
      Puede consultar nuestra <a href="/politicas" class="underline"
        >Política de Privacidad</a
      > para obtener más información sobre el tratamiento de sus datos personales
      y
      <h2 class="text-xl font-semibold mt-6 mb-2">Modificaciones</h2>
      <p class="mb-4">
        El Titular se reserva el derecho a realizar, sin previo aviso, las
        modificaciones que considere oportunas en el sitio web, pudiendo
        cambiar, suprimir o añadir tanto los contenidos y servicios que se
        presten a través del mismo como la forma en la que estos aparezcan
        presentados o localizados en el sitio web.
      </p>
      <h2 class="text-xl font-semibold mt-6 mb-2">Enlaces</h2>
      <p class="mb-4">
        El sitio web puede incluir enlaces o hipervínculos a otros sitios web
        que no son gestionados por el Titular. Estos enlaces se incluyen
        únicamente a efectos de referencia. El Titular no tiene control sobre
        dichos sitios web y no se hace responsable del contenido de los mismos.
      </p>
      <p class="mb-4">
        La inclusión de enlaces a otros sitios web no implica que el Titular
        apruebe su contenido ni que mantenga algún tipo de asociación con sus
        operadores.
      </p>
      <h2 class="text-xl font-semibold mt-6 mb-2">Derecho de Exclusión</h2>
      <p class="mb-4">
        El Titular se reserva el derecho a denegar o retirar el acceso al sitio
        web y/o a los servicios ofrecidos sin necesidad de preaviso, a instancia
        propia o de un tercero, a aquellos usuarios que incumplan las presentes
        bases legales.
      </p>
      <h2 class="text-xl font-semibold mt-6 mb-2">Jurisdicción</h2>
      <p class="mb-4">
        Estas bases legales se regirán e interpretarán de acuerdo con la
        legislación española. En caso de litigio entre el Titular y el usuario,
        ambas partes se someterán a la jurisdicción de los tribunales de la
        ciudad de [Tu Ciudad], España, renunciando expresamente a cualquier otro
        fuero que pudiera corresponderles.
      </p>
      <h2 class="text-xl font-semibold mt-6 mb-2">Contacto</h2>
      <p class="mb-4">
        Si tiene alguna pregunta sobre estas bases legales o cualquier
        comentario sobre el sitio web, por favor diríjase a:
      </p>
      <p class="mb-4">
        Correo electrónico: <u>info@negrosobreblanco.com</u><br />
        Dirección: <u>c/ Francesc Macia 21 Caldes de Montbui. 08140 Barcelona</u>
      </p>
    </p>
  </div>
</Layout>
