---
import DatosContactos from "../components/DatosContactos.astro";
import FormContacto from "../components/FormContacto.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="contacta">
  <!-- <FormContacto/> -->
  <div class="py-4 lg:py-4 px-4 mx-auto max-w-screen-md">
    <h2 class="text-4xl tracking-tight font-extrabold text-center text-blanco">
      Contacta conmigo
    </h2>
    <div class="pt-4">
      <DatosContactos />
    </div>
  </div>
</Layout>
