---
import DatosContactos from "../components/DatosContactos.astro";
import FormContacto from "../components/FormContacto.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="contacta">
   <!-- <FormContacto/> -->
   <h2 class="pt-4 text-4xl tracking-tight font-extrabold text-center text-blanco">Contacta conmigo</h2>
<div class="p-4">

    <DatosContactos/>
</div>

</Layout>


  