---
import Caracteristicas from "../components/Caracteristicas.astro";
import Caracteristicas2 from "../components/Caracteristicas2.astro";

import Servicios from "../components/Servicios.astro";
import Servicios2 from "../components/Servicios2.astro";

import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Hero2 from "../components/Hero2.astro";

import Layout from "../layouts/Layout.astro";
import Procesos from "../components/Procesos.astro";
---

<Layout title="Negro sobre Blanco Agency">
  <main>
    <div class="bg-negro">
      <Hero />
    </div>
    <div class="bg-blanco">
      <Caracteristicas2 />
    </div>
    <div class="bg-negro">
      <Servicios2 />
    </div>
    <div class="bg-blanco">
      <Procesos />
    </div>
  </main>
</Layout>

<style>
  main {
  }
</style>
