---
import Layout from "../layouts/Layout.astro";
---

    <Layout title="Políticas de privacidad">
        <div class="px-4 py-6">
            <h1 class="text-2xl font-bold mb-4 text-center">Políticas de Privacidad</h1>

            <p class="mb-4">
                El Titular le informa sobre su Política de Privacidad respecto del tratamiento y protección de los datos de carácter personal de los usuarios que puedan ser recabados durante la navegación a través del Sitio Web: <u>www.negrosobreblanco.com</u>
            </p>
            <p class="mb-4">
                En este sentido, el Titular garantiza el cumplimiento de la normativa vigente en materia de protección de datos personales, reflejada en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y de Garantía de Derechos Digitales (LOPD GDD). Cumple también con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas (RGPD).
            </p>
            <p class="mb-4">
                El uso del sitio Web implica la aceptación de esta Política de Privacidad así como las condiciones incluidas en el <a href="/bases" class="underline">Aviso Legal</a>.
            </p>
            <h2 class="text-xl font-semibold mt-6 mb-2">Identidad del Responsable</h2>
            <p class="mb-4">
                Responsable: <strong>LIDIA BLANCH NIETO</strong><br>
                Correo electrónico: <u>info@negrosobreblanco.com</u><br>
                Sitio Web: <u>www.negrosobreblanco.com</u>
            </p>
            <h2 class="text-xl font-semibold mt-6 mb-2">Principios aplicados en el tratamiento de datos</h2>
            <p class="mb-4">
                En el tratamiento de sus datos personales, el Titular aplicará los siguientes principios que se ajustan a las exigencias del nuevo reglamento europeo de protección de datos (RGPD):
            </p>
            <ul class="list-disc list-inside mb-4">
                <li><strong>Principio de licitud, lealtad y transparencia:</strong> El Titular siempre requerirá el consentimiento para el tratamiento de los datos personales que puede ser para uno o varios fines específicos sobre los que el Titular informará al Usuario previamente con absoluta transparencia.</li>
                <li><strong>Principio de minimización de datos:</strong> El Titular solicitará solo los datos estrictamente necesarios para el fin o los fines que los solicita.</li>
                <li><strong>Principio de limitación del plazo de conservación:</strong> El Titular mantendrá los datos personales recabados durante el tiempo estrictamente necesario para el fin o los fines del tratamiento. El Titular informará al Usuario del plazo de conservación correspondiente según la finalidad. En el caso de suscripciones, el Titular revisará periódicamente las listas y eliminará aquellos registros inactivos durante un tiempo considerable.</li>
                <li><strong>Principio de integridad y confidencialidad:</strong> Los datos personales recabados serán tratados de tal manera que su seguridad, confidencialidad e integridad están garantizadas. El Titular toma las precauciones necesarias para evitar el acceso no autorizado o uso indebido de los datos de sus usuarios por parte de terceros.</li>
            </ul>
            <h2 class="text-xl font-semibold mt-6 mb-2">Obtención de datos personales</h2>
            <p class="mb-4">
                Para navegar por el sitio Web no es necesario que facilite ningún dato personal. Los casos en los que usted sí proporciona sus datos personales son los siguientes:
            </p>
            <ul class="list-disc list-inside mb-4">
                <li>Al contactar a través de los formularios de contacto o enviar un correo electrónico.</li>
            </ul>
            <h2 class="text-xl font-semibold mt-6 mb-2">Seguridad de los datos personales</h2>
            <p class="mb-4">
                Para proteger sus datos personales, el Titular toma todas las precauciones razonables y sigue las mejores prácticas de la industria para evitar su pérdida, mal uso, acceso indebido, divulgación, alteración o destrucción de los mismos.
            </p>
            <p class="mb-4">
                Sus datos podrán ser incorporados a un fichero de lista de correo, del cual el Titular es responsable de su gestión y tratamiento. La seguridad de sus datos está garantizada, ya que el Titular toma todas las medidas de seguridad necesarias y le garantiza que los datos personales sólo se usarán para las finalidades dadas.
            </p>
            <p class="mb-4">
                El Titular informa al Usuario de que sus datos personales no serán cedidos a terceras organizaciones, con la salvedad de que dicha cesión de datos esté amparada en una obligación legal o cuando la prestación de un servicio implique la necesidad de una relación contractual con un encargado de tratamiento. En este último caso, sólo se llevará a cabo la cesión de datos al tercero cuando el Titular disponga del consentimiento expreso del Usuario.
            </p>
            <p class="mb-4">
                Sin embargo, en algunos casos se pueden realizar colaboraciones con otros profesionales. En esos casos, se requerirá consentimiento al Usuario informando sobre la identidad del colaborador y la finalidad de la colaboración. Siempre se realizará con los más estrictos estándares de seguridad.
            </p>
            <h2 class="text-xl font-semibold mt-6 mb-2">Contenido de otros sitios web</h2>
            <p class="mb-4">
                Las páginas de este sitio Web pueden incluir contenido incrustado (por ejemplo, vídeos, imágenes, artículos, etc.). El contenido incrustado de otras webs se comporta exactamente de la misma manera que si hubiera visitado la otra web.
            </p>
            <p class="mb-4">
                Estos sitios Web pueden recopilar datos sobre usted, utilizar cookies, incrustar un código de seguimiento adicional de terceros y supervisar su interacción usando este código.
            </p>
            <h2 class="text-xl font-semibold mt-6 mb-2">Política de Cookies</h2>
            <p class="mb-4">
                Para que este sitio Web funcione correctamente necesita utilizar cookies, que es una información que se almacena en su navegador web.
            </p>
            <p class="mb-4">
                Puede consultar toda la información relativa a la política de recogida y tratamiento de las cookies en la página de <a href="/cookies" class="underline">Política de Cookies</a>.
            </p>
            <h2 class="text-xl font-semibold mt-6 mb-2">Legitimación para el tratamiento de datos</h2>
            <p class="mb-4">
                La base legal para el tratamiento de sus datos es el consentimiento del interesado.
            </p>
            <h2 class="text-xl font-semibold mt-6 mb-2">Categorías de datos personales</h2>
            <p class="mb-4">
                Las categorías de datos personales que trata el Titular son:
            </p>
            <ul class="list-disc list-inside mb-4">
                <li>Datos identificativos.</li>
                <li>No se tratan categorías de datos especialmente protegidos.</li>
            </ul>
            <h2 class="text-xl font-semibold mt-6 mb-2">Conservación de datos personales</h2>
            <p class="mb-4">
                Los datos personales proporcionados al Titular se conservarán hasta que solicite su supresión.
            </p>
            <h2 class="text-xl font-semibold mt-6 mb-2">Navegación Web</h2>
            <p class="mb-4">
                Al navegar por el Sitio Web se pueden recoger datos no identificativos, que pueden incluir la dirección IP, geolocalización, un registro de cómo se utilizan los servicios y sitios, hábitos de navegación y otros datos que no pueden ser utilizados para identificarle.
            </p>
            <p class="mb-4">
                El sitio Web utiliza los siguientes servicios de análisis de terceros:
            </p>
            <ul class="list-disc list-inside mb-4">
                <li>Google Analytics</li>
                <!-- Agregar otros servicios de análisis si es necesario -->
            </ul>
            <p class="mb-4">
                El Titular utiliza la información obtenida para obtener datos estadísticos, analizar tendencias, administrar el sitio, estudiar patrones de navegación y recopilar información demográfica.
            </p>
            <p class="mb-4">
                El Titular no se hace responsable del tratamiento de los datos personales que realicen las páginas web a las que pueda acceder a través de los distintos enlaces que contiene el Sitio Web.
            </p>
            <h2 class="text-xl font-semibold mt-6 mb-2">Exactitud y veracidad de los datos personales</h2>
            <p class="mb-4">
                Usted se compromete a que los datos facilitados al Titular sean correctos, completos, exactos y vigentes, así como a mantenerlos debidamente actualizados.
            </p>
            <p class="mb-4">
                Como Usuario del Sitio Web es el único responsable de la veracidad y corrección de los datos remitidos al Sitio Web exonerando al Titular de cualquier responsabilidad al respecto.
            </p>
            <h2 class="text-xl font-semibold mt-6 mb-2">Aceptación y consentimiento</h2>
            <p class="mb-4">
                Como Usuario del Sitio Web declara haber sido informado de las condiciones sobre protección de datos de carácter personal, acepta y consiente el tratamiento de los mismos por parte del Titular en la forma y para las finalidades indicadas en esta Política de Privacidad.
            </p>
            <p class="mb-4">
                Para contactar con el Titular, suscribirse a un boletín o realizar comentarios en este sitio Web tiene que aceptar la presente Política de Privacidad.
            </p>
            <h2 class="text-xl font-semibold mt-6 mb-2">Cambios en la Política de Privacidad</h2>
            <p class="mb-4">
                El Titular se reserva el derecho a modificar la presente Política de Privacidad para adaptarla a novedades legislativas o jurisprudenciales, así como a prácticas de la industria.
            </p>
            <p class="mb-4">
                Estas políticas estarán vigentes hasta que sean modificadas por otras debidamente publicadas.
            </p>
        </div>
</Layout>


    
