
<div class="max-[991px]:ml-4 max-[991px]:flex-none max-[767px]:ml-0 max-[767px]:mt-8 text-blanco">
    <!-- <div class="mb-4 flex max-w-[272px] items-start justify-start">
      <img src="https://assets.website-files.com/63904f663019b0d8edf8d57c/639973cafd61df1f2a234a2c_carbon_location-filled.svg" alt="" class="mr-3 inline-block w-6" />
      <p>8502 Preston Rd. Inglewood, Maine 98380, USA</p>
    </div> -->
    <div class="mb-4 flex max-w-[272px] items-start justify-start gap-2">
      <img src="/svgs/whatsapp.svg" alt="" class="mr-3 inline-block w-6 bg-blanco rounded-full p-1" />
      <p>+34 626 826 613</p>
    </div>

    <div class="mb-4 flex max-w-[272px] items-start justify-start gap-2">
      <img src="/svgs/email.svg" alt="" class="mr-3 inline-block w-6 bg-blanco rounded-full p-1" />
      <p>info@negrosobreblanco.com</p>
    </div>
    <div class="mb-4 flex max-w-[272px] items-start justify-start gap-2">
      <img src="/svgs/location.svg" alt="" class="mr-3 inline-block w-6 bg-blanco rounded-full p-1" />
      <p>Barcelona, Spain</p>
    </div>
  </div>