---
import DatosContactos from "./DatosContactos.astro";
---

<footer class="bg-negro text-blanco">
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-24 lg:py-32">
    <div class="flex flex-row justify-between max-[767px]:flex-col max-[767px]:items-start">
      <div class="w-full max-w-[560px] max-[991px]:mr-4 max-[991px]:flex-initial max-[767px]:mr-0">
        <h2 class="text-3xl font-semibold text-white md:text-5xl">
          <span>Negro sobre Blanco</span> 
        </h2>
      </div>
      <DatosContactos/>
    </div>
    <div class="mb-14 mt-16 w-full [border-bottom:1.7px_solid_rgb(0,_0,_0)]"></div>
    <div class="flex flex-row justify-between max-[991px]:items-center max-[767px]:flex-col max-[767px]:items-start max-[479px]:flex-col-reverse">
      <div class="text-center font-semibold max-[991px]:ml-0 max-[991px]:mr-0 max-[991px]:py-1 max-[479px]:mb-4 sm:text-center">
        <a href="#inicio" class="inline-block py-1.5 pl-0 pr-6 font-normal text-blanco transition hover:text-primario sm:py-2 sm:pr-6 lg:pr-12">Inicio</a>
        <a href="#fortalezas" class="inline-block py-1.5 pl-0 pr-6 font-normal text-blanco transition hover:text-primario sm:py-2 sm:pr-6 lg:pr-12">Fortalezas</a>
        <a href="#servicios" class="inline-block py-1.5 pl-0 pr-6 font-normal text-blanco transition hover:text-primario sm:py-2 sm:pr-6 lg:pr-12">Servicios</a>
        <a href="#procesos" class="inline-block py-1.5 pl-0 pr-6 font-normal text-blanco transition hover:text-primario sm:py-2 sm:pr-6 lg:pr-12">Procesos</a>
        <a href="/contacta" class="inline-block py-1.5 pl-0 pr-6 font-normal text-blanco transition hover:text-primario sm:py-2 sm:pr-6 lg:pr-12">Contacto</a>
      </div>
    </div>
    <div class="text-center mt-8">
      <p class="text-blanco">© Copyright 2024. Mabedev</p>
    </div>
  </div>
</footer>