<section class="bg-negro">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-blanco">Contacta conmigo</h2>
        <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl"></p>
        <form action="#" class="space-y-8">
            <div>
                <label for="nombre" class="block mb-2 text-sm font-medium text-blanco">Nombre</label>
                <input type="text" id="nombre" class="block p-3 w-full text-sm text-blanco bg-negro rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500" placeholder="" required>
            </div>
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-blanco">Email</label>
                <input type="email" id="email" class="block p-3 w-full text-sm text-blanco bg-negro rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500" placeholder="" required>
            </div>
   
            <div class="sm:col-span-2">
                <label for="mensaje" class="block mb-2 text-sm font-medium text-blanco">Tu mensaje</label>
                <textarea id="mensaje" rows="6" class="block p-3 w-full text-sm text-blanco bg-negro rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500" placeholder=""></textarea>
            </div>
            <div class="flex items-center h-5">
                <input id="terms" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required />
                <label for="terms" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Acepto<a href="/politicas" class="text-blue-600 hover:underline dark:text-blue-500"> las politicas de privacidad</a></label>
              </div>

            <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-negro rounded-lg bg-primario sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300">Enviar</button>
        </form>
    </div>
  </section>