<section>
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-20">
    <!-- <h1
      class="mb-4 text-4xl font-semibold tracking-tight leading-none text-blanco md:text-5xl lg:text-6xl"
    >
      Negro sobre Blanco
    </h1> -->
    <img class="mx-auto mb-4 w-96" src="/logos/logo4.svg" alt="" />
    <p
      class="mb-8 text-lg font-normal text-blanco lg:text-2xl sm:px-16 lg:px-48"
    >
      Te doy la bienvenida a un mundo donde las palabras crean conexiones y
      abren posibilidades. Me llamo Lydia, y soy copywriter por pasión. Mi
      compromiso es transformar ideas en mensajes poderosos que no solo se
      escuchen, sino que también se sientan y actúen

  

    </p>
    <div
      class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"
    >
      <a
        href="#"
        class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-negro rounded-lg bg-blanco transition-all [box-shadow:#A3C1AD_6px_6px] transform hover:scale-110"
      >
        Contacta
       <!--  <svg
          class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </svg> -->
      </a>
    </div>
  </div>
</section>
