<!-- Navbar Dropdown 1 row -->
<section>
  <div class="fixed top-0 z-20 bg-primario h-auto w-screen">
    <!-- NAVBAR -->
    <nav
      class="font-inter mx-auto h-16 w-full lg:relative lg:top-0"
    >
      <!-- CONTAINER -->
      <div
        class="flex px-6 py-2 lg:flex-row items-center justify-between lg:px-10 lg:py-0 xl:px-20"
      >
        <!-- SVG LOGO - YOU CAN REPLACE THIS -->
        <a href="/">
          <img
            class="size-12 lg:size-16 object-contain py-0"
            src="/logos/logo5.svg"
            alt=""
          />
        </a>
        <div>
          <a
            href="https://www.instagram.com/copynegrosobreblanco?igsh=OGlwd2l0NGh5OGcx"
            target="_blank"
            class="inline-block rounded-xl border border-primario text-center font-semibold text-negro"
            ><img
              class="size-8 lg:size-10 transition-all hover:scale-110"
              src="/logos/instagram.svg"
              alt=""
            />
          </a>
      
          <a
            href="https://www.linkedin.com/in/lydia-blanch-nieto-66412a304?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
            target="_blank"
            class="inline-block rounded-xl border border-primario text-center font-semibold text-negro"
            ><img
              class="size-8 lg:size-10 transition-all hover:scale-110"
              src="/logos/linkedin.svg"
              alt=""
            />
          </a>
        </div>
      </div>
    </nav>
  </div>
</section>
