---
import Proceso from "./Proceso.astro";
---

<!-- Section Integrations  -->
<section id="procesos">
  <!-- Container -->
  <div class="mx-auto max-w-7xl px-5 py-16 md:px-10">
    <!-- Title -->
    <div class="mx-auto text-center">
      <h2 class="text-3xl font-bold md:text-5xl">Mapa del Proyecto</h2>
      <p class="mx-auto text-3xl mb-8 mt-4 max-w-lg text-[#647084]">
        De identificar tus necesidades a superar tus expectativas
      </p>
    </div>
    <div class="grid gap-2 md:grid-cols-2">
      <Proceso
        titulo="FASE 1"
        subtitulo="Encuentro preliminar"
        texto="Comparte conmigo los detalles cruciales de tu negocio, incluyendo sus puntos fuertes y áreas de mejora. Durante nuestro primer contacto, te proporcionaré información sobre presupuestos, tiempos de entrega, y procesos, asegurando que todo se desarrolle de manera eficiente"
        imagen="encuentro"
      />
      <Proceso
        titulo="FASE 2"
        subtitulo="Investigación Exhaustiva"
        texto="Para crear unos contenidos verdaderamente impactantes, dedicaré tiempo a investigar a tus competidores, la industria, tus clientes y sus expectativas. Este análisis nos permitirá identificar oportunidades clave en el mercado, lo que me ayudará a determinar las mejores estrategias de enfoque y las limitaciones a considerar"
        imagen="searching"
      />
      <Proceso
        titulo="FASE 3"
        subtitulo="Entrega de Borradores"
        texto="Tras completar la investigación, ahora tengo claro cómo aplicar técnicas de copywriting para persuadir efectivamente. Es el momento de comenzar a redactar y transformar todas las ideas en textos convincentes. Te proporcionaré los primeros borradores dentro de los plazos acordados"
        imagen="borrador"
      />
      <Proceso
        titulo="FASE 4"
        subtitulo="Revisión y Mejoras"
        texto="Una vez que hayas revisado los borradores, discutiremos todas tus ideas, cambios sugeridos y opiniones. Estoy aquí para escuchar tus comentarios y perfeccionar nuestro proyecto. Después de esta etapa de revisión, procederé a implementar todas las modificaciones acordadas para asegurar la entrega de un trabajo óptimo"
        imagen="revision"
      />
    </div>
  </div>
</section>
