---
import Card from "./Card.astro";
---

<section class="pt-20">
  <h1
    class="mb-4 text-center text-4xl font-semibold tracking-tight leading-none text-blanco md:text-5xl lg:text-6xl"
  >
    Servicios
  </h1>
  <div class="grid grid-cols-2 gap-20 px-72 py-4">
    <Card
      bg="blanco"
      colorTitulo="negro"
      colorTexto="negro"
      titulo="Creación de Contenidos para tu Sitio Web"
      texto="Mediante un detallado análisis de tu público objetivo, elaboro contenidos para tu página que garantizan capturar el interés de todo aquel que te descubra por primera vez. ¡Da el primer paso hacia el éxito en ventas!"
    />
    <Card
      bg="blanco"
      colorTitulo="negro"
      colorTexto="negro"
      titulo="Revitaliza tu estrategia de correo electrónico y despierta el interés de tu audiencia con copywriting diseñado específicamente para email marketing."
      texto="Transforma tus listas de contactos en clientes leales mediante correos que no solo capturan la atención sino que también entretienen, cuentan historias cautivadoras, persuaden y, naturalmente, incitan a la acción. ¡Es hora de elevar tus ventas!"
    />
    <Card
      bg="blanco"
      colorTitulo="negro"
      colorTexto="negro"
      titulo="Copywriting para tus páginas de destino"
      texto="La simplicidad a menudo marca el camino hacia el éxito, especialmente cuando se busca resaltar un producto o servicio específico. Permíteme redactar el contenido de tus landing pages para potenciar tus ventas. ¡Descubre cómo las palabras precisas pueden transformar visitantes en clientes!"
    />
    <Card
      bg="blanco"
      colorTitulo="negro"
      colorTexto="negro"
      titulo="Copywriting para blogs"
      texto="En el arte de conectar e informar, un blog bien escrito es tu mejor aliado. Me especializo en crear entradas de blog que no solo informan y educan, sino que también entretienen y enganchan a tu audiencia, al tiempo que refuerzan la presencia en línea de tu marca. Con contenido relevante y atractivo, atrae a tu público objetivo y fomenta una comunidad fiel. ¡Haz que cada publicación cuente y ve crecer tu impacto digital!"
    />
  </div>
</section>
