---
const { titulo, texto, logo } = Astro.props;
---

<div class="flex flex-col p-2">
  
  <div
    class="relative mb-4 flex h-14 w-14 flex-col items-center justify-center rounded-full border border-solid border-primario [box-shadow:#A3C1AD_0px_3px]"
  >
    <img
      src={logo}
      alt=""
      class="relative z-[1] inline-block h-8 p-1"
    />
    <div
      class="absolute z-0 h-8 w-8 rounded-full border border-primario bg-primario"
    >
    </div>
  </div>
  <p class="mb-4 font-semibold text-blanco">{titulo}</p>
  <p class="text-sm text-gris">
    {texto}
  </p>
</div>
